<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/demo/images/access/logo-orange.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgba(247, 149, 48, 0.4) 10%, rgba(247, 149, 48, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                <div class="grid flex flex-column align-items-center">
                    <div class="flex justify-content-center align-items-center bg-orange-500 border-circle" style="width:3.2rem; height:3.2rem;">
                        <i class="text-50 pi pi-fw pi-check-circle text-2xl"></i>                    
                    </div>
                    <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">Account Validation</h1>
                    
                    <span *ngIf="isSessoinValid" class="text-600 mb-5">Hi {{loginName}}, you are trying to access your account for the first time, please enter your registered email to validate your account.</span>
                    <span *ngIf="!isSessoinValid" class="text-600 mb-5">You have to be logged in to validate your account.</span>
                   
                    <div class="grid p-fluid" *ngIf="isSessoinValid">
                        <div class="col-12">
                            <div class="card">                            
                                <div class="grid">
                                    <div class="col-20 md:col-10">
                                        <p-inputGroup>
                                            <p-inputGroupAddon>
                                                <i class="pi pi-user"></i>
                                            </p-inputGroupAddon>
                                            <input pInputText type="text" placeholder="Enter email"  [(ngModel)]="email" />
                                        </p-inputGroup>
                                    </div>                                                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="isSessoinValid" pButton pRipple icon="pi pi-fw" label="Send validation email" class="p-button-text" (click)="sendVerificationEmail()"></button>
                    <!--<img src="assets/demo/images/access/asset-access.svg" alt="Access denied" class="mb-5" width="80%">-->
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" 
                            style="color: var(--primary-color)"
                            routerLink="/auth/login">
                            <i class="pi pi-arrow-left"></i>&nbsp;Go to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
