<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Recovery Password</div>
                    <span *ngIf="!recoveryMailSent && !isVerifiedAccount" class="text-600 font-medium">Please enter your username for the recovery process</span>
                    <span *ngIf="recoveryMailSent && !isVerifiedAccount" class="text-600 font-medium">Recovery mail was sent, if you can't see it in your inbox, please try send the email again</span>
                    <span *ngIf="isVerifiedAccount && !isPasswordChnaged" class="text-600 font-medium">Please enter the new password for your account</span>
                    <span *ngIf="isPasswordChnaged" class="text-600 font-medium">Password changed, please go to login again</span>

                </div>
                <div>
                    
                        <input 
                            *ngIf="!isVerifiedAccount"
                            id="email1" 
                            required 
                            [(ngModel)]="username" 
                            type="text" 
                            placeholder="Username" 
                            pInputText class="w-full md:w-30rem mb-5"                       
                            style="padding:1rem">
                   
                            <label *ngIf="isVerifiedAccount && !isPasswordChnaged" for="password_new" class="block text-900 font-medium text-m mb-2">Current Password</label>
                            <p-password 
                                *ngIf="isVerifiedAccount && !isPasswordChnaged"
                                id="password1" 
                                required
                                [(ngModel)]="password" 
                                placeholder="New password" 
                                [toggleMask]="true" 
                                styleClass="mb-5" 
                                inputStyleClass="w-full p-3 md:w-30rem">
                            </p-password>
                            
                            <label *ngIf="isVerifiedAccount && !isPasswordChnaged" for="password_new" class="block text-900 font-medium text-m mb-2">New password</label>
                            <p-password 
                                *ngIf="isVerifiedAccount && !isPasswordChnaged"
                                id="password2" 
                                required
                                [(ngModel)]="newPassword" 
                                placeholder="Repeat password" 
                                [toggleMask]="true" 
                                styleClass="mb-5" 
                                inputStyleClass="w-full p-3 md:w-30rem">
                            </p-password>                           
                        
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" 
                                style="color: var(--primary-color)"
                                routerLink="/auth/login">
                                <i class="pi pi-arrow-left"></i>&nbsp;Go to Login
                            </a>
                        </div>
                        
                        <button *ngIf="!isVerifiedAccount" pButton pRipple label="Send recovery email" 
                                class="w-full p-3 text-xl" 
                                (click)="sendRecoveryEmail()" 
                                [disabled]="isLoading">
                        </button>
                        <button *ngIf="isVerifiedAccount && !isPasswordChnaged" pButton pRipple label="Change Password"
                                class="w-full p-3 text-xl" 
                                (click)="changePassword()" 
                                [disabled]="isLoading">
                        </button>                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

