<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>           
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="flex flex-column">
                    <h3 class="m-0">Products</h3>
                    <span class="text-sm text-500">
                        Manage and view all products in your catalog
                    </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                    <button pButton pRipple label="New Product" 
                            icon="pi pi-plus" 
                            class="p-button-success mr-2" 
                            (click)="openNew()">
                    </button>
                    </div>
                </ng-template>
            </p-toolbar>

           <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left" class="small-text-table">
                    <div class="flex">
                    
                    <!-- Contenedor de filtros -->
                    <div class="flex flex-wrap gap-3 md:gap-4 ">

                        <!-- Filtro por nombre -->
                        <div class="flex flex-column" style="width: 300px;">
                        <label for="name">Product Name</label>                      
                        <input 
                            id="name"
                            type="text" 
                            pInputText 
                            placeholder="Product Name" 
                            [(ngModel)]="productCreateRequest.product.name"
                            style="width: 100%;">         
                        </div>

                        <!-- Dropdown categoría -->
                        <div class="flex flex-column" style="width: 300px;">
                        <label for="category">Category</label>
                        <p-dropdown 
                            id="category"
                            [options]="categoryTypes" 
                            [(ngModel)]="productCreateRequest.product.categoryId" 
                            placeholder="All Category"
                            [style]="{'width': '100%'}">
                        </p-dropdown>
                        </div>

                        <!-- Dropdown proveedor -->
                        <div *ngIf="role=='ADMIN'" class="flex flex-column" style="width: 300px;">
                            <label for="provider">Provider</label>
                            <p-dropdown 
                                id="provider"
                                [options]="providerTypes" 
                                [(ngModel)]="productCreateRequest.product.providerName" 
                                placeholder="All Provider"
                                [style]="{'width': '100%'}">
                            </p-dropdown>
                        </div>

                        <!-- Dropdown estado -->
                        <div class="flex flex-column" style="width: 300px;">
                        <label for="status">Status</label>
                        <p-dropdown 
                            id="status"
                            [options]="[{label: 'Active', value: 'active'}, {label: 'Inactive', value: 'inactive'}]" 
                            [(ngModel)]="productCreateRequest.product.status" 
                            placeholder="Choose Status"
                            [style]="{'width': '100%'}">
                        </p-dropdown>
                        </div>

                        <!-- Botón Search alineado a la derecha -->
                        <div class="flex align-items-center" style="margin-left: auto;">
                            <button pButton type="button" label="Search" icon="pi pi-search" (click)="searchProduct()"></button>
                            <span style="margin: 0 0.5rem;"></span>
                            <button pButton type="button" label="Reset" icon="pi pi-refresh" (click)="resetFilters()"></button>
                        </div>

                    </div>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products"                                                                  
         [columns]="cols" 
         responsiveLayout="scroll" 
         [globalFilterFields]="['name','status','createdAt','updatedAt']"
         [rows]="pageSize"                                                   
         [paginator]="false"                                                                      
         [(selection)]="selectedProducts" 
         selectionMode="multiple" 
         [rowHover]="true" dataKey="id"
         [loading]="loading"
         expandableRows
         class="small-text-table compact-table">               

    <!-- Header -->
    <ng-template pTemplate="header">
        <tr>     
            <th></th>                
            <th style="display: none;">Code</th>                       
            <th>Product</th> 
            <th>Category</th>   
            <th>Provider</th>               
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>

    <!-- Body -->
    <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
            <td>
                <button pButton pRipple 
                        icon="pi pi-chevron-down"                         
                        class="p-button-rounded p-button-text ml-2"
                        (click)="onToggleRow(product, dt)">
                </button>
            </td>         
            <td style="display: none;">{{product.id}}</td>                       
            <td style="width:17%; min-width:14rem;">
                <div>                               
                    <div style="font-weight: bold; text-transform: uppercase;">
                        {{ product.name }}
                    </div>
                    <div style="font-size: 0.70rem; color: #555;">
                        {{ product.code }}
                    </div>
                </div>
            </td>                        
            <td style="width:10%; min-width:12rem;">
                <span [class]="'status-badge category'">{{product.categoryName}}</span>
            </td>
            <td style="width:14%; min-width:12rem;">{{product.provider}}</td>                                                                        
            <td style="width:14%; min-width: 10rem;">
                <span [class]="'status-badge status-' + (product.status ? product.status.toLowerCase() : '')">{{product.status}}</span>
            </td>
            <td>
                <div class="flex">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"
                            [disabled]="product.status !== 'active'">
                    </button>
                    <button pButton pRipple icon="pi pi-trash"  class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"
                            [disabled]="product.status === 'inactive'">
                    </button>                    
                </div>
            </td>
        </tr>
    </ng-template>

    <!-- Row Expansion -->
    <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="7">
                <div class="p-3" style="background: #f9f9f9; border-left: 3px solid #007ad9;">
                    <!-- Detalle del producto -->
                    <h5>Product Details</h5>
                    <p><strong>Description:</strong> {{product.description}}</p>
                    <p><strong>Stock:</strong><span [class]="'status-badge prices'">{{product.stock}}</span></p>
                    <p><strong>Created At:</strong> {{product.createdAt}}</p>

                    <p-tabView (onChange)="onTabChange(product,$event)">
                        <p-tabPanel header="Price/Discounts">
                            <div>
                                <p><strong>Price Details:</strong></p>
                                <p-table [value]="product.prices" class="small-text-table compact-table">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Location</th>
                                            <th>Price</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Type</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-price>
                                        <tr>
                                            <td>{{price.location}}</td>
                                            <td>
                                                <span [class]="'status-badge prices'">
                                                    <b>$ {{price.value}}</b>
                                                </span>
                                            </td>
                                            <td>{{price.startDate}}</td>
                                            <td>{{price.endDate}}</td>
                                            <td><b>{{price.type}}</b></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <br/>
                                <p><strong>Discounts Details:</strong></p>
                                <p-table [value]="product.discounts" class="small-text-table compact-table">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Location</th>
                                            <th>Value</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Type</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-discount>
                                        <tr>
                                            <td>{{discount.location}}</td>
                                            <td>
                                                <span [class]="'status-badge prices'">
                                                    <b>
                                                        {{ discount.type === 'PERCENTAGE' ? discount.value + '%' : '$ ' + discount.value }}
                                                    </b>
                                                </span>
                                            </td>
                                            <td>{{discount.startDate}}</td>
                                            <td>{{discount.endDate}}</td>
                                            <td><b>{{discount.type}}</b></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Characteristics">
                            <div *ngFor="let characteristic of product.characteristics" class="mb-4">
                                <h6><b>{{characteristic.characteristicName}}</b></h6>
                                <div *ngIf="characteristic.characteristicsValues && characteristic.characteristicsValues.length > 0">
                                    <div class="grid">
                                        <div *ngFor="let value of characteristic.characteristicsValues" class="col-12 md:col-4 lg:col-3">
                                            <div class="card">
                                                <div class="text-center">
                                                    <h6><b>{{value.value}}</b></h6>
                                                    <div class="image-container">
                                                        <img *ngIf="value.fileBase64"
                                                            [src]="value.fileBase64"
                                                            alt="Image" />

                                                        <p *ngIf="!value.fileBase64">No Image available.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!characteristic.characteristicsValues || characteristic.characteristicsValues.length === 0">
                                    <p>No Type values available.</p>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Inventory">
                            <div>
                                <p><strong>Inventory Details:</strong></p>
                                <p-table [value]="product.inventory" class="small-text-table compact-table">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Warehouse</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-item>
                                        <tr>
                                            <td>{{item.warehouse}}</td>
                                            <td><span [class]="'status-badge prices'">{{item.quantity}}</span></td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-tabPanel>
                    </p-tabView>                                                           
                </div>
            </td>
        </tr>
    </ng-template>

</p-table>
            <div class="flex justify-content-end gap-2 mt-2">
                <button pButton label="Previous" (click)="loadPreviousPage()" [disabled]="page === 1"></button>
                <button pButton label="Next" (click)="loadNextPage()"></button>
            </div>
        </div>

        <!--<p-dialog [(visible)]="productDialog" 
                  [style]="{width: '450px', height: '200px'}" header="Product" 
                  [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">                 
                    <div class="field">
                        <label for="firstName">Name</label>
                        <input type="text" pInputText id="firstName" 
                            [(ngModel)]="product.name" required autofocus 
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
                    </div>                                              
            </ng-template>
                    
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button *ngIf="isProduct" pButton pRipple label="Create" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                <button *ngIf="!isProduct" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>  -->

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" 
                  [modal]="true" 
                  [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete the product <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
        
    </div>
</div>

<!-- Create a new Product -->
    <p-sidebar
        [(visible)]="showNewProductButton" 
        position="right" 
        [baseZIndex]="10000"
        [style]="{'width':'60rem','overflow-y':'auto'}">

        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="flex flex-column">
                    <h3 class="m-0" style="font-size: 2rem;">Create Product</h3>
                    <span class="text-sm text-500">
                        Add a new product to your catalog with customizable features
                    </span>
                </div>
            </ng-template>
        </p-toolbar>

        <div class="col-12 md:col-12 h-full">
            <div class="card card-w-title flex flex-wrap">
                <p-tabView orientation="left">
                    <!-- Product Basic Information -->
                    <p-tabPanel header="Product Basic Information" leftIcon="pi pi-info-circle">
                        <ng-template pTemplate="content">
                        <div class="form-grid">
                            <div class="grid">

                                <input type="hidden" [(ngModel)]="product.id">

                                <div class="col-12 md:col-12">
                                    <div class="field">
                                        <label for="productName">Product Name</label>
                                        <input id="productName" 
                                            type="text" pInputText
                                            [(ngModel)]="product.name"
                                            placeholder="Enter product name"
                                            required
                                            class="full-width">
                                    </div>                                    
                                </div>

                                <div class="col-12 md:col-12">                                   
                                    <div class="field">
                                        <label for="productCode">Product Code</label>
                                        <input id="productCode" name="productCode"
                                        disabled
                                            type="text" pInputText
                                            [(ngModel)]="product.code"
                                            placeholder="Enter product code"
                                            required
                                            class="full-width">
                                    </div>
                                </div>

                                <div class="col-12 md:col-12">
                                    <div class="field">
                                        <label for="productCategory">Category</label>
                                        <p-dropdown id="productCategory"
                                                    [options]="categoryTypes"
                                                    [(ngModel)]="product.categoryId"
                                                    placeholder="Select category"
                                                    (onChange)="onCategoryChange($event)"
                                                    class="full-width">
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div *ngIf="role === 'ADMIN'" class="col-12 md:col-12">
                                    <div class="field">
                                        <label for="productProvider">Provider</label>
                                        <p-dropdown id="productProvider"
                                                    [options]="providerTypes"
                                                    [(ngModel)]="product.providerName"
                                                    placeholder="Select provider"
                                                    (onChange)="onProviderChange($event)"
                                                    class="full-width">
                                        </p-dropdown>
                                    </div>
                                </div>

                                <div class="col-12 md:col-12">
                                    <div class="field">
                                    <label for="productDescription">Description</label>
                                    <textarea id="productDescription" pInputTextarea
                                            [(ngModel)]="product.description"
                                            placeholder="Enter product description"
                                            class="full-width">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                    </p-tabPanel>

                    <!-- Characteristics -->
                    <p-tabPanel header="Characteristics" leftIcon="pi pi-list">
                        <ng-template pTemplate="content">
                            <div *ngFor="let characteristic of product.characteristics; let i = index" class="mb-4">
                                <div class="field">
                                    <label for="characteristicName-{{i}}">Characteristic Name</label>
                                    <p-dropdown id="characteristicName-{{i}}"
                                                    [options]="characteristicTypes"
                                                    [(ngModel)]="characteristic.characteristicId"
                                                    placeholder="Select characteristic"
                                                    class="full-width">
                                    </p-dropdown>                                    
                                </div>
                                <div class="field">
                                    <label>Values</label>
                                    <div *ngFor="let value of characteristic.characteristicsValues; let j = index" class="flex align-items-center mb-2">
                                        <input type="text" pInputText [(ngModel)]="value.value" placeholder="Enter value" class="mr-2 full-width">                                       
                                        
                                        <input type="file"
                                            id="fileInput-{{i}}-{{j}}"
                                            (change)="onImageUpload($event, i, j)"
                                            accept="image/*"
                                            hidden />

                                        <label for="fileInput-{{i}}-{{j}}" class="p-button p-component p-button-sm">
                                            <span class="p-button-icon pi pi-upload"></span>
                                            <span class="p-button-label">Upload Image</span>
                                        </label>

                                        <!-- Preview + nombre -->
                                        <div *ngIf="value.fileBase64" class="flex align-items-center ml-2">
                                            <img [src]="value.fileBase64" alt="Preview" class="file" />
                                            <span>{{ value.fileName }}</span>
                                        </div>

                                        <button pButton icon="pi pi-times" class="p-button-danger p-button-text ml-2" 
                                        (click)="removeCharacteristicValue(i, j)"></button>
                                    </div>
                                    <button pButton label="Add Value" icon="pi pi-plus" class="p-button-sm" (click)="addCharacteristicValue(i)"></button>
                                </div>
                                <hr>
                            </div>
                            <button pButton label="Add Characteristic" icon="pi pi-plus" (click)="addCharacteristic()"></button>
                        </ng-template>
                    </p-tabPanel>

                    <!-- Price/Discounts -->
                    <p-tabPanel header="Price/Discounts" leftIcon="pi pi-tag">
                        <ng-template pTemplate="content">
                            <div class="field">
                                <div class="flex justify-content-between align-items-center mb-2">
                                    <label>Prices</label>
                                    <button pButton icon="pi pi-plus" class="p-button-primary p-button-sm" style="width: 2.5rem;" (click)="addPrice()"></button>
                                </div>
                                <div *ngFor="let price of product.prices; let i = index" class="flex align-items-center mb-2">
                                    <input type="text" pInputText [(ngModel)]="price.location" placeholder="Location" class="mr-2 full-width">
                                    <input type="number" pInputText [(ngModel)]="price.value" placeholder="Price" class="mr-2 full-width">
                                    <input type="date" pInputText [(ngModel)]="price.startDate" class="mr-2 full-width">
                                    <input type="date" pInputText [(ngModel)]="price.endDate" class="mr-2 full-width">
                                    <p-dropdown [options]="[{label: 'Retail', value: 'Retail'}, {label: 'Wholesale', value: 'Wholesale'}]" [(ngModel)]="price.type" placeholder="Type" class="full-width mr-2"></p-dropdown>
                                    <button pButton icon="pi pi-times" class="p-button-danger p-button-sm ml-2" style="width: 2.5rem;" (click)="removePrice(i)"></button>
                                </div>
                            </div>
                            <br/>
                            <div class="field">
                                <div class="flex justify-content-between align-items-center mb-2">
                                    <label>Discounts</label>
                                    <button pButton icon="pi pi-plus" class="p-button-primary p-button-sm" style="width: 2.5rem;" (click)="addDiscount()"></button>
                                </div>
                                <div *ngFor="let discount of product.discounts; let i = index" class="flex align-items-center mb-2">
                                    <input type="text" pInputText [(ngModel)]="discount.location" placeholder="Location" class="mr-2 full-width">
                                    <input type="number" pInputText [(ngModel)]="discount.value" placeholder="Value" class="mr-2 full-width">
                                    <input type="date" pInputText [(ngModel)]="discount.startDate" class="mr-2 full-width">
                                    <input type="date" pInputText [(ngModel)]="discount.endDate" class="mr-2 full-width">
                                    <p-dropdown [options]="[{label: 'Percentage', value: 'PERCENTAGE'}, {label: 'Fixed', value: 'FIXED'}]" [(ngModel)]="discount.type" placeholder="Type" class="full-width mr-2"></p-dropdown>
                                    <button pButton icon="pi pi-times" class="p-button-danger p-button-sm ml-2" style="width: 2.5rem;" (click)="removeDiscount(i)"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-tabPanel>

                    <!-- Inventory -->
                    <p-tabPanel header="Inventory" leftIcon="pi pi-box">
                        <ng-template pTemplate="content">
                            <div class="form-grid">
                                <div class="field">
                                    <label>Inventory</label>
                                    <div *ngFor="let item of product.inventory; let i = index" class="flex align-items-center mb-2">
                                        <input type="text" pInputText [(ngModel)]="item.warehouse" placeholder="Warehouse" class="mr-2 full-width">
                                        <input type="number" pInputText [(ngModel)]="item.quantity" placeholder="Quantity" class="mr-2 full-width">
                                        <button pButton icon="pi pi-times" class="p-button-danger p-button-text ml-2" (click)="removeInventoryItem(i)"></button>
                                    </div>
                                    <button pButton label="Add Inventory Item" icon="pi pi-plus" (click)="addInventoryItem()"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>

        <p-toolbar styleClass="mt-4">
            <ng-template pTemplate="right">
                <button pButton label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelProduct()"></button>
                <button pButton label="Save" icon="pi pi-check" class="p-button-success" (click)="saveProduct()"></button>
            </ng-template>
        </p-toolbar>
    </p-sidebar>